body {
    background-color: #2ed573;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head {
    display: block;
    text-align: center;
}
.input_head {
    display: flex;
    color: white;
    font-style: oblique;
    margin-bottom: 10px;
}
.input {
    all: unset;
    background-color: #54a0ff;
    color: white;
    padding: 5px 10px;
    /* padding 영역의 색상은 background속성으로 지정 */
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
#exec {
    all: unset;
    background-color: #54a0ff;
    color: white;
    padding: 5px 10px;
    /* padding 영역의 색상은 background속성으로 지정 */
    
    border-radius: 5px;
    cursor: pointer;
    
}
.head_hidden {
    display: none;
}
table {
    /* 사이 갭 없앰 */
    border-collapse: collapse;
    text-align: center; /* 글씨 가운데 정렬 */
    background-color: #b2bec3;
}
.game_hidden {
    display: none;
}
tbody {
    border: 2px solid;
    border-top-color: #54a0ff;
    border-left-color: #54a0ff;
    border-right-color: white;
    border-bottom-color: white;
}

#game_container {
    border: 3px solid;
    
    border-top-color: white;
    border-left-color: white;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
#game_board {
    border: 10px solid;
    border-color: #b2bec3;  
}

#theadDiv {
    min-height: 50px;
}
th {
    height: 60px;
    padding-bottom: 10px;
}


th > div {
    border: 3px solid;
    
    height: 40px;
    border-top-color:  #54a0ff;
    border-left-color:  #54a0ff;
    border-right-color: white;
    border-bottom-color: white;

    width: auto;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th > div > div {
    margin: 8px;
    
}
th > div > div:nth-child(1){
    background-color: #0097e6;
    width: 30%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
th > div > div:nth-child(2){
    /* background-color: #ffeaa7; */
    width: 15%;
    height: 70%;
    background-image: url("./img/normalEmotion.png");
    background-position: center;
    background-repeat: no-repeat;
}
th > div > div:nth-child(3){
    background-color: #273c75;
    width: 30%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
th > div > div > span {
    font-size: x-large;
    letter-spacing: 2px;
    color: white;
}
/* 이모티콘 기본 테두리 */
.emotionDefaultBorder {
    border: 3px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
/* 이모티콘 눌렀을때 테두리 */
.emotionMouseDown {
    border: 2px solid;
    border-top-width: 3px;
    border-left-width: 3px;
    border-top-color: #54a0ff;
    border-left-color: #54a0ff;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
/* 이모티콘 클릭 뗐을 때 */

td {
    border: 0.3px solid #54a0ff;
    /* color: #54a0ff;
    font-size: large; */
}
.tdDivDefault {
    /* 화면 줄였을 때 지뢰판 안 깨지게 설정 */
    
    min-width: 20px;
    min-height: 20px;
    
}
.tdDivDefaultBorder {

    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
.clicked {
    min-width: 20px;
    min-height: 20px;
}
/* 깃발 이미지 넣기 */
.flagImage {
    background-image: url("./img/flag2.png");
    background-position: center;
    background-repeat: no-repeat;
}
.questionImage {
    background-image: url("./img/question216.png");
    background-position: center;
    background-repeat: no-repeat;
}
.bombImage {
    background-image: url("./img/bomb.png");
    background-position: center;
    background-repeat: no-repeat;
}


.modal {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal_hidden {
    display: none;
}

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content {
    background-color: white;
    padding: 50px 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /* position: fixed; */
    position: relative;
    width: 30%;
    top: 0px;
}
.modal_content > button {
     /* 가지고 있는 브라우저에서 적용시키는 스타일 초기화 */
     all: unset;

     background-color: steelblue;
     color: white;
     padding: 5px 20px;
     /* padding 영역의 색상은 background속성으로 지정 */
     
     border-radius: 5px;
     cursor: pointer;
}