body {
    background-color: #2ed573;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    /* 사이 갭 없앰 */
    /* border-collapse: collapse; */

    border: 3px solid;
    padding: 5px;
    text-align: center; /* 글씨 가운데 정렬 */
    /* vertical-align: middle; */
    border-top-color: white;
    border-left-color: white;
    border-right-color: #0984e3;
    border-bottom-color: #0984e3;
    background-color: #b2bec3;
}

th {
    border: 3px solid;
    height: 40px;
    border-top-color:  #0984e3;
    border-left-color:  #0984e3;
    border-right-color: white;
    border-bottom-color: white;
    
    /* border-bottom-width: 5px;
    border-bottom-color: #0984e3; */
}


th > div {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th > div > div {
    margin: 10px;
    width: 20%;
    height: 100%;
    background-color: #ffeaa7;
}
#theadDiv {
    min-height: 50px;
}
td {
    border: 1px solid black;
    /* width: 20px;
    height: 20px; */
    border: 2px solid;
    /* padding: 5px; */
    
    border-top-color: white;
    border-left-color: white;
    border-right-color: #0984e3;
    border-bottom-color: #0984e3;
}
#tdDiv {
    /* 화면 줄였을 때 지뢰판 안 깨지게 설정 */
    min-width: 20px;
    min-height: 20px;
}
